.image {
  cursor: pointer;
  object-fit: cover;
  height: 20vw;
  width: 15vw;
  padding: 1vw;
  border-radius: 3vw;
  transition: transform 0.5s;
}

.image:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
